body {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #F1F0FF;
    margin: 0;
    padding: 50px 20px;
    background-color: #10112b;
    min-height: 100vh;
    box-sizing: border-box;
}

h1 {
    color: #F1F0FF;
    font-weight: normal;
    font-size: 6vw
}
table {
    width: 50vw;
    height: 60vh;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #252763;
    overflow: hidden;
}
td {
    padding: 0;
    border: 1px solid #252763;
    vertical-align: top;
}
textarea {
    display: block;
    margin: 0;
    resize: none;
    width: 40px;
    height: 30px;
    min-height: 30px;
    padding: 2px;
    box-sizing: border-box;
    background-color: #10112b;
    border-color: #252763;
    border-radius: 4px;
    border-width: 2px;
    color: #e9e9ef;
    font-size: 2.5vw;
    line-height: 12px;
    border: none;
    overflow: hidden;
}
/*
::selection {
  background-color: #5DE2E7;
  color: #F1F0FF;
}*/

textarea:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #10112b;
}

::-webkit-scrollbar-thumb {
    background: #292b55;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3e4066;
}